.club{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}
.cart-container{
    background: rgba(255, 153, 0, 0.3);
    width: 264px;
    height: 944px;
    left: 1176px;
    top: 0px;
    /* position: sticky; */
}
@media screen and (max-width:688px) {
    .club{
        display: block
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 45px;  
    }
    .cart-container{
        width: 500px;
        height: 300px;
        /* position: relative; */
    }
}